<!-- <div *ngFor="let item of [1, 3, 5, 17, 20]">
  <p>Number is: {{item}}</p>
</div> -->

<!-- ngFor is adding some html in the dom thats why it is a structural directive. -->

<div *ngFor="let p of products; let i = index">
  <div
    class="product-container"
    [ngStyle]="{
      backgroundColor: p.available == 'Available' ? '#D5F5E3' : '#FADBD8'
    }"
  >
    <div class="image-container">
      <img [src]="p.image" alt="product-image" />
    </div>
    <div class="content">
      <div class="name-container">
        <h3>{{ p.name }}</h3>
        <div class="detailsContainer">
          <div
            class="details"
            [ngStyle]="{ color: p.available == 'Available' ? 'Green' : 'Red' }"
          >
            {{ p.available }}
          </div>
          <div class="details"><b>Price:</b>${{ p.price }}</div>
          <div class="details"><b>Color:</b>{{ p.color }}</div>
        </div>
      </div>
      <div class="options">
        <button class="btn btn-success">Show Details</button>
        <button class="btn btn-warning" *ngIf="p.available != 'Not Available'">
          Buy Now
        </button>
      </div>
    </div>
  </div>
</div>

<!-- [ngStyle] = "{color: p.availabe === 'Available'?'Green':'Red'}" -->
